:root {
  --just-black: #000000;
  --just-coral: #f25f4c;
  --just-white: #fffffe;
  --just-gray: #a7a9be;
  --just-sky-blue: #5928e5;
  --soft-black: #0f0e17;
  --soft-pink: #fed9da;
  --dark-pink: #e53170;
  --dark-orange: #ff8906;
}
