@use '../utils/mixins' as m;
@use '../utils/colors' as c;

.project {
  position: relative;
  margin-block-end: 290px;
  &:first-child {
    grid-column: span 2;
  }

  &__description {
    position: absolute;
    inset-block-start: 30%;
    inset-inline-start: -2%;
    inset-inline-end: 2%;
    padding-block-start: 40px;
    padding-block-end: 24px;
    padding-inline: 24px;
    background-color: var(--soft-black);
  }
  &__description h5 {
    margin: 0;
    font-size: 24px;
    color: var(--just-white);
    text-transform: uppercase;
    line-height: 32px;
  }
  &__description p {
    margin-block-start: 16px;
    margin-block-end: 30px;
    color: var(--just-gray);
  }
  &__description .buttons .btn {
    inline-size: 100%;
    margin-block-end: 16px;
    font-size: 16px;
    line-height: 24px;
  }
  @include m.from(sm) {
    &__image {
      inline-size: 100%;
      block-size: 350px;
    }
    &__description {
      inline-size: 60%;
    }
  }
  @include m.from(l) {
    block-size: 100%;
    margin-block-end: 50px;
    &__image {
      inline-size: 100%;
      block-size: 500px;
      object-fit: cover;
    }
    &__description {
      inline-size: 45%;
      inset-inline-start: -16px;
      inset-inline-end: 0;
      inset-block-start: 50%;
      padding-block: 80px;
      transform: translateY(-50%);
    }
    .buttons {
      display: flex;
      gap: 16px;
    }
    .buttons .btn {
      block-size: 48px;
    }
    .buttons .btn:nth-child(2) {
      inline-size: 250px;
    }
    .buttons .btn:nth-child(1) {
      inline-size: 140px;
      order: 1;
    }
  }
  @include m.from(x) {
    block-size: 85%;
    margin-block-end: 100px;
    &__image {
      block-size: 500px;
    }
    &:not(:first-child) &__description {
      inline-size: 80%;
    }
  }
}
