@use '../utils/mixins' as m;
@use '../utils/colors' as c;

.project {
  @include m.debug(red);
  position: relative;
  margin-block-end: 290px;
  &:first-child {
    grid-column: span 2;
  }

  &__description {
    position: absolute;
    inset-block-start: 30%;
    inset-inline-start: -2%;
    inset-inline-end: 2%;
    padding-block-start: 40px;
    padding-block-end: 24px;
    padding-inline: 24px;
    background-color: var(--soft-black);
  }
  &__description h5 {
    margin: 0;
    font-size: 24px;
    color: var(--just-white);
    text-transform: uppercase;
    line-height: 32px;
  }
  &__description p {
    margin-block-start: 16px;
    margin-block-end: 30px;
    color: var(--just-gray);
  }
  &__description .buttons .btn {
    inline-size: 100%;
    margin-block-end: 16px;
    font-size: 16px;
    line-height: 24px;
  }
  @include m.from(l) {
    block-size: 100%;
    &__image {
      inline-size: 100%;
      height: 500px;
      //   block-size: 50%;
      object-fit: cover;
    }
    &__description {
      inline-size: 40%;
      inset-inline-start: 0;
      inset-inline-end: 0;
      inset-block-start: 50%;
      transform: translateY(-50%);
    }
  }
}
