@use '../utils/mixins' as m;
@use '../utils/colors' as c;

.header {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  padding-block: 20px;
  background-color: var(--soft-black);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 20px;
}
.navbar {
  &__list {
    position: fixed;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-start: 85px;
    inset-block-end: 0;
    padding-block-start: 32px;
    padding-inline-start: 20px;
    background-color: var(--soft-black);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  &__list.active {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
  &__item {
    margin-block-end: 34px;
  }
  &__item a {
    font-size: 32px;
    line-height: 24px;
    color: var(--just-gray);
  }
  &__item a:active,
  &__item a:hover {
    color: var(--dark-orange);
  }
  @include m.from(m) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__list {
      position: initial;
      display: flex;
      padding: 0;
      transform: translateX(0);
    }
    &__item {
      margin-block-end: 0;
      margin-inline-end: 40px;
    }
    &__item a {
      font-size: 20px;
      line-height: 32px;
      color: var(--just-white);
    }
  }
  @include m.from(l) {
    inline-size: 90%;
  }
}
.icons-box {
  display: flex;
  gap: 8px;
}

.line {
  position: absolute;
  inset-block-start: 50%;
  inline-size: 100%;
  block-size: 2px;
  background-color: var(--dark-orange);
  transform: translateY(-50%);
  &::before {
    content: '';
    position: absolute;
    inline-size: 100%;
    block-size: 2px;
    inset-block-start: -8px;
    background-color: var(--dark-orange);
  }
  &::after {
    content: '';
    position: absolute;
    inline-size: 100%;
    block-size: 2px;
    inset-block-end: -8px;
    background-color: var(--dark-orange);
  }
}

.icon-menu {
  position: relative;
  inline-size: 34px;
  block-size: 34px;
  &.active .line:first-child {
    background-color: transparent;
  }
  &.active .line::before {
    inset-block-start: 0;
    transform: rotate(45deg);
  }
  &.active .line::after {
    inset-block-end: 0;
    transform: rotate(-45deg);
  }
  &.active .line::before,
  &.active .line::after {
    transition: transform 0.3s ease-in-out;
  }
  @include m.from(m) {
    display: none;
  }
}
button span:first-child {
  display: none;
  @include m.from(m) {
    display: block;
  }
}
