@use '../utils/fonts' as f;
@use '../utils/mixins' as m;
@use '../utils/colors' as c;

.contact {
  background: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
  padding-block: 40px;
  @include m.from(sm) {
    padding-inline: 30px;
  }
  @include m.from(m) {
    padding-inline: 100px;
  }
  @include m.from(l) {
    padding-inline: 200px;
  }
  @include m.from(x) {
    padding-inline: 496px;
    padding-block: 128px;
  }
  @include m.from(xl) {
    padding-inline: 600px;
  }
}
.contact-content {
  margin-inline: 20px;
  padding-block: 20px;
  padding-inline: 20px;
  background-color: var(--soft-black);
  h4 {
    margin-block: 0;
    font-size: 32px;
    font-weight: 400;
    color: var(--just-white);
  }
  p {
    color: var(--just-gray);
  }
  @include m.from(m) {
    padding-inline: 48px;
    padding-block: 48px;
    h4 {
      font-family: f.$nunitoFont;
      font-size: 48px;
      line-height: 56px;
    }
  }
}
form {
  .form-group {
    margin-block-end: 16px;
  }
  .form-group input,
  .form-group textarea {
    inline-size: 100%;
    padding-block: 12px;
    padding-inline: 16px;
    box-sizing: border-box;
  }
  button.btn {
    inline-size: 100%;
    font-size: 16px;
  }
}
