@forward '../components/nav';
@use '../utils/colors' as c;
@use '../utils/mixins' as m;
@use '../utils/fonts' as f;

.hero {
  background-color: var(--soft-black);
  color: var(--just-white);
}
.hero-content {
  display: grid;
  margin-inline: 20px;
  padding-block: 20px;
  @include m.from(sm) {
    padding-inline: 30px;
  }
  @include m.from(m) {
    place-items: center;
  }
  @include m.from(l) {
    place-items: normal;
    grid-template-columns: 1fr 1fr;
    padding-block: 80px;
    padding-inline: 0;
    .hero-image {
      grid-column: 2 / 3;
      justify-self: end;
    }
  }
  @include m.from(x) {
    padding-block: 110px;
  }
}
.hero-description {
  h1 {
    margin-block-start: 24px;
    margin-block-end: 16px;
    font-size: 32px;
    font-family: f.$loraFont;
    font-weight: 400;
    line-height: 40px;
  }
  h1 span {
    display: block;
  }
  p {
    color: var(--just-gray);
    margin-block: 16px;
  }
  img {
    @include m.keyframeSlideUp();
    animation: slideUp 0.7s infinite alternate;
  }
  @include m.from(m) {
    padding-inline: 90px;
    h1 {
      font-family: f.$nunitoFont;
      font-size: 64px;
      font-weight: 700;
      line-height: 80px;
    }
    p {
      font-size: 24px;
      line-height: 40px;
    }
    img {
      margin-block-start: 50px;
    }
  }
  @include m.from(l) {
    padding-inline: 0;
    grid-column: 1 / 2;
    grid-row: 1/ 2;
    h1 {
      font-family: f.$nunitoFont;
      font-size: 64px;
      font-weight: 700;
      line-height: 80px;
    }

    img {
      margin-block-start: 96px;
    }
  }
}
