h1,
h2,
h3,
h5 {
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lora", serif;
  margin: 0;
  margin-block-start: 85px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  font-family: inherit;
}

p {
  font-size: 20px;
  line-height: 32px;
}

img {
  max-inline-size: 100%;
}

button {
  font-family: "Nunito", sans-serif;
}

.wrapper {
  max-inline-size: 1400px;
  margin: auto;
}

:root {
  --just-black: #000000;
  --just-coral: #f25f4c;
  --just-white: #fffffe;
  --just-gray: #a7a9be;
  --just-sky-blue: #5928e5;
  --soft-black: #0f0e17;
  --soft-pink: #fed9da;
  --dark-pink: #e53170;
  --dark-orange: #ff8906;
}

.header {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  padding-block: 20px;
  background-color: var(--soft-black);
  z-index: 100000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 20px;
}

.navbar__list {
  position: fixed;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-start: 85px;
  inset-block-end: 0;
  padding-block-start: 32px;
  padding-inline-start: 20px;
  background-color: var(--soft-black);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.navbar__list.active {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}
.navbar__item {
  margin-block-end: 34px;
}
.navbar__item a {
  font-size: 32px;
  line-height: 24px;
  color: var(--just-gray);
}
.navbar__item a:active, .navbar__item a:hover {
  color: var(--dark-orange);
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar__list {
    position: initial;
    display: flex;
    padding: 0;
    transform: translateX(0);
  }
  .navbar__item {
    margin-block-end: 0;
    margin-inline-end: 40px;
  }
  .navbar__item a {
    font-size: 20px;
    line-height: 32px;
    color: var(--just-white);
  }
}
@media screen and (min-width: 1024px) {
  .navbar {
    inline-size: 90%;
  }
}

.icons-box {
  display: flex;
  gap: 8px;
}

.line {
  position: absolute;
  inset-block-start: 50%;
  inline-size: 100%;
  block-size: 2px;
  background-color: var(--dark-orange);
  transform: translateY(-50%);
}
.line::before {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 2px;
  inset-block-start: -8px;
  background-color: var(--dark-orange);
}
.line::after {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 2px;
  inset-block-end: -8px;
  background-color: var(--dark-orange);
}

.icon-menu {
  position: relative;
  inline-size: 34px;
  block-size: 34px;
}
.icon-menu.active .line:first-child {
  background-color: transparent;
}
.icon-menu.active .line::before {
  inset-block-start: 0;
  transform: rotate(45deg);
}
.icon-menu.active .line::after {
  inset-block-end: 0;
  transform: rotate(-45deg);
}
.icon-menu.active .line::before, .icon-menu.active .line::after {
  transition: transform 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .icon-menu {
    display: none;
  }
}

button span:first-child {
  display: none;
}
@media screen and (min-width: 768px) {
  button span:first-child {
    display: block;
  }
}

.hero {
  background-color: var(--soft-black);
  color: var(--just-white);
}

.hero-content {
  display: grid;
  margin-inline: 20px;
  padding-block: 20px;
}
@media screen and (min-width: 480px) {
  .hero-content {
    padding-inline: 30px;
  }
}
@media screen and (min-width: 768px) {
  .hero-content {
    place-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .hero-content {
    place-items: normal;
    grid-template-columns: 1fr 1fr;
    padding-block: 80px;
    padding-inline: 0;
  }
  .hero-content .hero-image {
    grid-column: 2/3;
    justify-self: end;
  }
}
@media screen and (min-width: 1366px) {
  .hero-content {
    padding-block: 110px;
  }
}

.hero-description h1 {
  margin-block-start: 24px;
  margin-block-end: 16px;
  font-size: 32px;
  font-family: "Lora", serif;
  font-weight: 400;
  line-height: 40px;
}
.hero-description h1 span {
  display: block;
}
.hero-description p {
  color: var(--just-gray);
  margin-block: 16px;
}
.hero-description img {
  animation: slideUp 0.7s infinite alternate;
}
@keyframes slideUp {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}
@media screen and (min-width: 768px) {
  .hero-description {
    padding-inline: 90px;
  }
  .hero-description h1 {
    font-family: "Nunito", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
  }
  .hero-description p {
    font-size: 24px;
    line-height: 40px;
  }
  .hero-description img {
    margin-block-start: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-description {
    padding-inline: 0;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .hero-description h1 {
    font-family: "Nunito", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
  }
  .hero-description img {
    margin-block-start: 96px;
  }
}

.project {
  border: 1px solid red;
  position: relative;
  margin-block-end: 290px;
}
.project:first-child {
  grid-column: span 2;
}
.project__description {
  position: absolute;
  inset-block-start: 30%;
  inset-inline-start: -2%;
  inset-inline-end: 2%;
  padding-block-start: 40px;
  padding-block-end: 24px;
  padding-inline: 24px;
  background-color: var(--soft-black);
}
.project__description h5 {
  margin: 0;
  font-size: 24px;
  color: var(--just-white);
  text-transform: uppercase;
  line-height: 32px;
}
.project__description p {
  margin-block-start: 16px;
  margin-block-end: 30px;
  color: var(--just-gray);
}
.project__description .buttons .btn {
  inline-size: 100%;
  margin-block-end: 16px;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 1024px) {
  .project {
    block-size: 100%;
  }
  .project__image {
    inline-size: 100%;
    height: 500px;
    object-fit: cover;
  }
  .project__description {
    inline-size: 40%;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-start: 50%;
    transform: translateY(-50%);
  }
}

.projects-content {
  margin-inline: 20px;
}
.projects-content__heading h4 {
  margin-block: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}
.projects-content__heading {
  padding-block: 40px;
}
@media screen and (min-width: 1024px) {
  .projects-content__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
  }
  .projects-content__heading {
    display: flex;
    padding-block: 84px;
  }
  .projects-content__heading h4 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
  }
}

.btn {
  padding-block: 12px;
  padding-inline: 24px;
  border: none;
}
.btn:active {
  transform: scale(0.98);
}
@media screen and (min-width: 768px) {
  .btn {
    inline-size: 206px;
  }
}

.btn--orange {
  background-color: var(--dark-orange);
  color: var(--just-white);
}

.btn--transparent {
  border: 2px solid var(--dark-orange);
  background-color: transparent;
  color: var(--dark-orange);
}

button.h-button {
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  button.h-button {
    display: flex;
    gap: 8px;
  }
}

/*# sourceMappingURL=styles.css.map */
