h1,
h2,
h3,
h5 {
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lora", serif;
  margin: 0;
  margin-block-start: 85px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  font-family: inherit;
}

p,
li {
  font-size: 20px;
  line-height: 32px;
}

img {
  max-inline-size: 100%;
}

button {
  font-family: "Nunito", sans-serif;
}

.wrapper {
  max-inline-size: 1400px;
  margin: auto;
}

input,
textarea {
  font-family: "Lora", serif;
  font-size: 20px;
  line-height: 32px;
}

:root {
  --just-black: #000000;
  --just-coral: #f25f4c;
  --just-white: #fffffe;
  --just-gray: #a7a9be;
  --just-sky-blue: #5928e5;
  --soft-black: #0f0e17;
  --soft-pink: #fed9da;
  --dark-pink: #e53170;
  --dark-orange: #ff8906;
}

.header {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  padding-block: 20px;
  background-color: var(--soft-black);
  z-index: 100000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 20px;
}

.navbar__list {
  position: fixed;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-start: 85px;
  inset-block-end: 0;
  padding-block-start: 32px;
  padding-inline-start: 20px;
  background-color: var(--soft-black);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.navbar__list.active {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}
.navbar__item {
  margin-block-end: 34px;
}
.navbar__item a {
  font-size: 32px;
  line-height: 24px;
  color: var(--just-gray);
}
.navbar__item a:active, .navbar__item a:hover {
  color: var(--dark-orange);
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar__list {
    position: initial;
    display: flex;
    padding: 0;
    transform: translateX(0);
  }
  .navbar__item {
    margin-block-end: 0;
    margin-inline-end: 40px;
  }
  .navbar__item a {
    font-size: 20px;
    line-height: 32px;
    color: var(--just-white);
  }
}
@media screen and (min-width: 1024px) {
  .navbar {
    inline-size: 90%;
  }
}

.icons-box {
  display: flex;
  gap: 8px;
}

.line {
  position: absolute;
  inset-block-start: 50%;
  inline-size: 100%;
  block-size: 2px;
  background-color: var(--dark-orange);
  transform: translateY(-50%);
}
.line::before {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 2px;
  inset-block-start: -8px;
  background-color: var(--dark-orange);
}
.line::after {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 2px;
  inset-block-end: -8px;
  background-color: var(--dark-orange);
}

.icon-menu {
  position: relative;
  inline-size: 34px;
  block-size: 34px;
}
.icon-menu.active .line:first-child {
  background-color: transparent;
}
.icon-menu.active .line::before {
  inset-block-start: 0;
  transform: rotate(45deg);
}
.icon-menu.active .line::after {
  inset-block-end: 0;
  transform: rotate(-45deg);
}
.icon-menu.active .line::before, .icon-menu.active .line::after {
  transition: transform 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .icon-menu {
    display: none;
  }
}

button span:first-child {
  display: none;
}
@media screen and (min-width: 768px) {
  button span:first-child {
    display: block;
  }
}

.hero {
  background-color: var(--soft-black);
  color: var(--just-white);
}

.hero-content {
  display: grid;
  margin-inline: 20px;
  padding-block: 20px;
}
@media screen and (min-width: 480px) {
  .hero-content {
    padding-inline: 30px;
  }
}
@media screen and (min-width: 768px) {
  .hero-content {
    place-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .hero-content {
    place-items: normal;
    grid-template-columns: 1fr 1fr;
    padding-block: 80px;
    padding-inline: 0;
  }
  .hero-content .hero-image {
    grid-column: 2/3;
    justify-self: end;
  }
}
@media screen and (min-width: 1366px) {
  .hero-content {
    padding-block: 111px;
  }
}

.hero-description h1 {
  margin-block-start: 24px;
  margin-block-end: 16px;
  font-size: 32px;
  font-family: "Lora", serif;
  font-weight: 400;
  line-height: 40px;
}
.hero-description h1 span {
  display: block;
}
.hero-description p {
  color: var(--just-gray);
  margin-block: 16px;
}
.hero-description img {
  animation: slideUp 0.7s infinite alternate;
}
@keyframes slideUp {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}
@media screen and (min-width: 768px) {
  .hero-description {
    padding-inline: 90px;
  }
  .hero-description h1 {
    font-family: "Nunito", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
  }
  .hero-description p {
    font-size: 24px;
    line-height: 40px;
  }
  .hero-description img {
    margin-block-start: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-description {
    padding-inline: 0;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .hero-description h1 {
    font-family: "Nunito", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
  }
  .hero-description img {
    margin-block-start: 96px;
  }
}

.project {
  position: relative;
  margin-block-end: 290px;
}
.project:first-child {
  grid-column: span 2;
}
.project__description {
  position: absolute;
  inset-block-start: 30%;
  inset-inline-start: -2%;
  inset-inline-end: 2%;
  padding-block-start: 40px;
  padding-block-end: 24px;
  padding-inline: 24px;
  background-color: var(--soft-black);
}
.project__description h5 {
  margin: 0;
  font-size: 24px;
  color: var(--just-white);
  text-transform: uppercase;
  line-height: 32px;
}
.project__description p {
  margin-block-start: 16px;
  margin-block-end: 30px;
  color: var(--just-gray);
}
.project__description .buttons .btn {
  inline-size: 100%;
  margin-block-end: 16px;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 480px) {
  .project__image {
    inline-size: 100%;
    block-size: 350px;
  }
  .project__description {
    inline-size: 60%;
  }
}
@media screen and (min-width: 1024px) {
  .project {
    block-size: 100%;
    margin-block-end: 50px;
  }
  .project__image {
    inline-size: 100%;
    block-size: 500px;
    object-fit: cover;
  }
  .project__description {
    inline-size: 45%;
    inset-inline-start: -16px;
    inset-inline-end: 0;
    inset-block-start: 50%;
    padding-block: 80px;
    transform: translateY(-50%);
  }
  .project .buttons {
    display: flex;
    gap: 16px;
  }
  .project .buttons .btn {
    block-size: 48px;
  }
  .project .buttons .btn:nth-child(2) {
    inline-size: 250px;
  }
  .project .buttons .btn:nth-child(1) {
    inline-size: 140px;
    order: 1;
  }
}
@media screen and (min-width: 1366px) {
  .project {
    block-size: 85%;
    margin-block-end: 100px;
  }
  .project__image {
    block-size: 500px;
  }
  .project:not(:first-child) .project__description {
    inline-size: 80%;
  }
}

.projects-content {
  margin-inline: 20px;
  margin-block-end: 40px;
  text-align: center;
}
.projects-content__heading h4 {
  margin-block: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}
.projects-content__heading {
  padding-block: 40px;
  text-align: initial;
}
.projects-content__container {
  text-align: initial;
}
.projects-content .btn {
  inline-size: 100%;
}
@media screen and (min-width: 480px) {
  .projects-content {
    padding-inline: 30px;
  }
  .projects-content .btn {
    inline-size: 50%;
  }
}
@media screen and (min-width: 768px) {
  .projects-content {
    padding-inline: 90px;
  }
  .projects-content__heading {
    padding-block: 84px;
  }
}
@media screen and (min-width: 1024px) {
  .projects-content .btn {
    inline-size: 20%;
  }
  .projects-content__heading {
    display: flex;
  }
  .projects-content__heading h4 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
  }
}
@media screen and (min-width: 1366px) {
  .projects-content__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 48px;
  }
}

.services {
  background: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
}

.services-content {
  margin-inline: 20px;
  padding-block: 40px;
}
.services-content h4 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  margin-block: 0;
}
@media screen and (min-width: 480px) {
  .services-content {
    padding-inline: 30px;
  }
}
@media screen and (min-width: 768px) {
  .services-content {
    padding-block: 80px;
  }
  .services-content h4 {
    padding-inline: 60px;
    font-size: 48px;
    line-height: 56px;
    font-family: "Nunito", sans-serif;
  }
}
@media screen and (min-width: 1024px) {
  .services-content h4 {
    padding-inline: 80px;
  }
}

.services-list__column {
  margin-block-start: 56px;
}
.services-list__column .btn {
  inline-size: 100%;
}
.services-list__column h5 {
  font-size: 24px;
  line-height: 32px;
  margin-block-start: 0;
  margin-block-end: 16px;
}
.services-list__column li {
  margin-block-end: 16px;
}
@media screen and (min-width: 768px) {
  .services-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    place-items: center;
  }
  .services-list__column {
    align-self: start;
  }
  .services-list__column:last-child {
    grid-column: span 2;
    justify-self: center;
  }
}
@media screen and (min-width: 1024px) {
  .services-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .services-list__column:last-child {
    grid-column: span 1;
    justify-self: center;
  }
}
@media screen and (min-width: 1366px) {
  .services-list {
    grid-template-columns: repeat(3, 391px);
  }
}

.testimonial {
  margin-block: 24px;
}
.testimonial__heading {
  display: flex;
  gap: 8px;
}
.testimonial__heading span {
  align-self: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--just-coral);
  line-height: 32px;
}

.testimonials {
  background-color: var(--soft-black);
  color: var(--just-white);
}

.testimonials-content {
  margin-inline: 20px;
  padding-block: 40px;
}
.testimonials-content h4 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  margin-block: 0;
}
@media screen and (min-width: 480px) {
  .testimonials-content {
    padding-inline: 30px;
    padding-block: 60px;
  }
}
@media screen and (min-width: 768px) {
  .testimonials-content {
    padding-block: 65px;
  }
  .testimonials-content h4 {
    font-family: "Nunito", sans-serif;
    font-size: 48px;
    line-height: 56px;
  }
  .testimonials-content__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .testimonials-content h4 {
    margin-block-end: 48px;
  }
  .testimonials-content__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.section-bg-image {
  inline-size: 100%;
  block-size: 184px;
  background: url(../images/banner.png) center/cover no-repeat;
}
@media screen and (min-width: 480px) {
  .section-bg-image {
    block-size: 200px;
  }
}
@media screen and (min-width: 768px) {
  .section-bg-image {
    block-size: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .section-bg-image {
    block-size: 700px;
  }
}

.contact {
  background: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
  padding-block: 40px;
}
@media screen and (min-width: 480px) {
  .contact {
    padding-inline: 30px;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    padding-inline: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .contact {
    padding-inline: 200px;
  }
}
@media screen and (min-width: 1366px) {
  .contact {
    padding-inline: 496px;
    padding-block: 128px;
  }
}

.contact-content {
  margin-inline: 20px;
  padding-block: 20px;
  padding-inline: 20px;
  background-color: var(--soft-black);
}
.contact-content h4 {
  margin-block: 0;
  font-size: 32px;
  font-weight: 400;
  color: var(--just-white);
}
.contact-content p {
  color: var(--just-gray);
}
@media screen and (min-width: 768px) {
  .contact-content {
    padding-inline: 48px;
    padding-block: 48px;
  }
  .contact-content h4 {
    font-family: "Nunito", sans-serif;
    font-size: 48px;
    line-height: 56px;
  }
}

form .form-group {
  margin-block-end: 16px;
}
form .form-group input,
form .form-group textarea {
  inline-size: 100%;
  padding-block: 12px;
  padding-inline: 16px;
  box-sizing: border-box;
}
form button.btn {
  inline-size: 100%;
  font-size: 16px;
}

.footer {
  background-color: var(--soft-black);
}

.footer-content {
  display: flex;
  flex-direction: column;
  margin-inline: 20px;
  padding-block: 40px;
  color: var(--just-white);
  text-align: center;
}
.footer-content p span {
  display: block;
}
.footer-content img {
  inline-size: 83px;
  align-self: center;
}
.footer-content .feed-social img {
  inline-size: 32px;
}
.footer-content .img-footer,
.footer-content p span {
  margin-block-end: 44px;
}
.footer-content p:last-child {
  margin-block-end: 44px;
}
@media screen and (min-width: 480px) {
  .footer-content {
    padding-inline: 30px;
  }
}
@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 56px;
  }
  .footer-content .img-footer {
    margin: 0;
  }
  .footer-content p span {
    margin: 0;
  }
  .footer-content .feed-social img {
    margin-inline-end: 24px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1024px) {
  .footer-content p span {
    display: inline;
  }
}

.btn {
  padding-block: 12px;
  padding-inline: 24px;
  border: none;
}
.btn:active {
  transform: scale(0.98);
}
@media screen and (min-width: 768px) {
  .btn {
    inline-size: 206px;
  }
}

.btn--orange {
  background-color: var(--dark-orange);
  color: var(--just-white);
}

.btn--transparent {
  border: 2px solid var(--dark-orange);
  background-color: transparent;
  color: var(--dark-orange);
}

.btn--b-black {
  border-color: var(--just-black);
  color: var(--just-black);
}

.btn--dark {
  background-color: var(--just-black);
  color: var(--dark-orange);
}

button.h-button {
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  button.h-button {
    display: flex;
    gap: 8px;
  }
}

/*# sourceMappingURL=styles.css.map */
